* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    background-color: #333;
    padding: 1rem;
}

header img {
    width: 15%;
    margin: 0 0 0 5rem;
}

header a {
    text-decoration: none;
    color: #f5f5f5;
    border: 1px solid #f5f5f5;
    padding: .6rem 2rem;
    border-radius: .8rem;
    opacity: .7;
    margin: 0 0 0 0;
}

header a:hover {
    opacity: 1;
}

.botoes {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

#register {
    text-decoration: none;
    color: #333;
    padding: .6rem 2rem;
    border: none;
    border-radius: .8rem;
    background:	#F0E665;
}

#register:hover {
    background-color:	#ebdb52;
    transition: all 400ms;
}

.content-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2.5rem;
    padding: 2.5rem;
}

.text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

.text small {
    font-weight: 300;
    color:#32CD32;
}

.text h1 {
    display: flex;
    margin-top: .8rem;
    font-size: 45px;
    color: #222;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.text a {
    text-decoration: none;
    color: #333;
}

.carrossel-playlists {
    max-width: 60%;
    padding: 1rem;
    margin: 0 0 0 5rem;
    box-sizing: border-box;
}

.capa-playlist {
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .botoes {
        width: 30%;
    }
}

.submit {
    text-decoration: none;
    color: #333;
    padding: .6rem 2rem;
    border: none;
    border-radius: .8rem;
    background:	#F0E665;
}

.submit a{
    text-decoration: none;
    color: #333;
}